{{#section 'css'}}
<style>
	.solid {
		background-color:aliceblue;
		float: right;
	}

	#beclear {
		clear: right;
	}

	.post {
		display: flex;
		flex-wrap: wrap;
	}

	.main-content {
		font-family: 'Times New Roman', Times, serif;
	}
</style>

{{/section}}
<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-8">

				<!-- breadcrumb -->
				<ul class="article-breadcrumb">
					<li><a href="/reader/category/{{{this.post.category}}}">{{{this.post.catename}}}</a></li>
					<li>{{this.post.title}}</li>
				</ul>
				<!-- /breadcrumb -->

				<!-- ARTICLE POST -->
				<article class="article article-post" id="beclear">
					<div class="article-share">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="article-main-img">
						<img src="/img/{{{this.post.category}}}/{{{this.post.postid}}}/{{{this.post.postid}}}-post.jpg"
							alt="">
					</div>
					<div class="article-body">
						<ul class="article-info">
							<li class="article-category"><a href="/{{{this.post.category}}}">{{{this.post.catename}}}</a></li>
							<li class="article-type"><i class="fa fa-file-text"></i></li>
						</ul>
						<div class="main-content">
						{{{this.post.title}}}
						</div>
						<ul class="article-meta">
							<li><i class="fa fa-clock-o"></i>{{format this.post.date}}</li>
							<li><i class="fa fa-comments"></i> {{this.post.comments}}</li>
						</ul>
						<div class="main-content">
							{{{this.post.content}}}
						</div>
					</div>
				</article>
				<!-- /ARTICLE POST -->

				<!-- widget tags -->
				<div class="widget-tags">
					<ul>
						<li><a href="/news">Tin mới</a></li>
						<li><a href="/top">Nổi bật</a></li>
						{{#if this.post.tag1}}
						<li><a href="/reader/tag/{{this.post.tag1}}">{{this.post.tag1}}</a></li>
						{{/if}}
						{{#if this.post.tag2}}
						<li><a href="/reader/tag/{{this.post.tag2}}">{{this.post.tag2}}</a></li>
						{{/if}}
						{{#if this.post.tag3}}
						<li><a href="/reader/tag/{{this.post.tag3}}">{{this.post.tag3}}</a></li>
						{{/if}}
					</ul>
				</div>
				<!-- /widget tags -->

				<!-- article comments -->
				<div class="article-comments">
					<div class="section-title">
						<h2 class="title">Comments</h2>
					</div>
					{{#each this.comments}}
					<!-- comment -->
					<div class="media">
						<div class="media-left">
							<img src="/img/av-1.jpg" alt="">
						</div>
						<div class="media-body">
							<div class="media-heading">
								<h5> {{username}} <span class="reply-time">{{email}}</span></h5>
							</div>
							<div class="main-content">
								<p>{{comment}}</p>
							</div>
							
							{{!--<a href="#" class="reply-btn">Reply</a>--}}
						</div>
					</div>
					{{/each}}
				</div>
				<!-- /article comments -->

				<!-- reply form -->
				<div class="article-reply-form">
					<div class="section-title">
						<h2 class="title">Leave a comment</h2>
					</div>

					<form method="POST">
						{{#if isAuthenticated}}
						<input name="username" class="input" placeholder="Name" type="text" value="{{authUser.username}}">
						<input name="email" class="input" placeholder="Email" type="email" value="{{authUser.email}}">
						{{else}}
						<input name="username"class="input" placeholder="Name" type="text" value="anonymous">
						<input name="email" class="input" placeholder="Email" type="email">
						{{/if}}
						<textarea name="comment" class="input" placeholder="Comment here"></textarea>
						<button class="input-btn">Send Comment</button>
					</form>
				</div>
				<!-- /reply form -->
			</div>
			<!-- /Main Column -->

			<!-- Aside Column -->
			<div class="col-md-4 solid">
				<!-- Ad widget -->
				<div class="widget center-block hidden-xs">
					<img class="center-block" src="/img/ad-1.jpg" alt="">
				</div>
				<!-- /Ad widget -->

				<!-- social widget -->
				<div class="widget social-widget">
					<div class="widget-title">
						<h2 class="title">Stay Connected</h2>
					</div>
					<ul>
						<li><a href="#" class="facebook"><i class="fa fa-facebook"></i><br><span>Facebook</span></a>
						</li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter"></i><br><span>Twitter</span></a></li>
						<li><a href="#" class="google"><i class="fa fa-google"></i><br><span>Google+</span></a></li>
						<li><a href="#" class="instagram"><i class="fa fa-instagram"></i><br><span>Instagram</span></a>
						</li>
						<li><a href="#" class="youtube"><i class="fa fa-youtube"></i><br><span>Youtube</span></a></li>
						<li><a href="#" class="rss"><i class="fa fa-rss"></i><br><span>RSS</span></a></li>
					</ul>
				</div>
				<!-- /social widget -->

				<!-- subscribe widget -->
				<div class="widget subscribe-widget">
					<div class="widget-title">
						<h2 class="title">Subscribe to Newslatter</h2>
					</div>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="input-btn">Subscribe</button>
					</form>
				</div>
				<!-- /subscribe widget -->

				<!-- article widget -->
				<div class="widget">
					<div class="widget-title">
						<h2 class="title">Most Read</h2>
					</div>

					<!-- owl carousel 3 -->
					<div id="owl-carousel-3" class="owl-carousel owl-theme center-owl-nav">
						{{#each this.mediums}}
						<!-- ARTICLE -->
						<article class="article">
							<div class="article-img">
								<a href="/post/{{postid}}">
									<img src="/img/{{category}}/{{postid}}/{{postid}}-medium.jpg" alt="">
								</a>
								<ul class="article-info">
									<li class="article-type"><i class="fa fa-file-text"></i></li>
								</ul>
							</div>
							<div class="article-body">
								<h4 class="article-title"><a href="/post/{{postid}}">{{title}}</a></h4>
								<ul class="article-meta">
									<li><i class="fa fa-clock-o"></i>{{format date}}</li>
									<li><i class="fa fa-comments"></i> {{comments}}</li>
								</ul>
							</div>
						</article>
						<!-- /ARTICLE -->
						{{/each}}
					</div>
					<!-- /owl carousel 3 -->

					{{#each this.thumbnails}}
					<!-- ARTICLE -->
					<article class="article widget-article">
						<div class="article-img">
							<a href="/post/{{postid}}">
								<img src="/img/{{category}}/{{postid}}/{{postid}}-widget.jpg" alt="">
							</a>
						</div>
						<div class="article-body">
							<h4 class="article-title"><a href="#">{{title}}</a></h4>
							<ul class="article-meta">
								<li><i class="fa fa-clock-o"></i>{{format date}}</li>
								<li><i class="fa fa-comments"></i> {{comments}}</li>
							</ul>
						</div>
					</article>
					<!-- /ARTICLE -->
					{{/each}}
				</div>
				<!-- /article widget -->

				<!-- article widget -->
				<div class="widget">
					<div class="widget-title">
						<h2 class="title">Featured Posts</h2>
					</div>

					<!-- owl carousel 4 -->
					<div id="owl-carousel-4" class="owl-carousel owl-theme">
						{{#each this.featureds}}
						<!-- ARTICLE -->
						<article class="article thumb-article">
							<div class="article-img">
								<img src="/img/{{category}}/{{postid}}/{{postid}}-thumb.jpg" alt="">
							</div>
							<div class="article-body">
								<ul class="article-info">
									<li class="article-category"><a href="#">News</a></li>
									<li class="article-type"><i class="fa fa-video-camera"></i></li>
								</ul>
								<h3 class="article-title"><a href="/post/{{postid}}">{{title}}</a></h3>
								<ul class="article-meta">
									<li><i class="fa fa-clock-o"></i>{{format date}}</li>
									<li><i class="fa fa-comments"></i> {{comments}}</li>
								</ul>
							</div>
						</article>
						<!-- /ARTICLE -->
						{{/each}}
					</div>
					<!-- /owl carousel 4 -->
				</div>
				<!-- /article widget -->
			</div>
			<!-- /Aside Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md stolid">
	<img class="center-block" src="/img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">Related Post</h2>
				</div>
				<!-- /section title -->

				<!-- row -->
				<div class="row post">
					<!-- Column 1 -->
					{{#each this.others}}
					<div class="col-md-3 col-sm-6">
						<!-- ARTICLE -->
						<article class="article">
							<div class="article-img">
								<a href="/post/{{postid}}">
									<img src="/img/{{category}}/{{postid}}/{{postid}}-medium.jpg" alt="">
								</a>
								<ul class="article-info">
									<li class="article-type"><i class="fa fa-camera"></i></li>
								</ul>
							</div>
							<div class="article-body">
								<h4 class="article-title"><a href="/post/{{postid}}">{{title}}</a></h4>
								<ul class="article-meta">
									<li><i class="fa fa-clock-o"></i>{{format date}}</li>
									<li><i class="fa fa-comments"></i> {{comments}}</li>
								</ul>
							</div>
						</article>
						<!-- /ARTICLE -->
					</div>
					{{/each}}
					<!-- /Column 1 -->
				</div>
				<!-- /row -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->