<!-- SECTION -->
        <div class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title">
                            <h2 class="title">Đã được duyệt & Chờ xuất bản</h2>
                            <button class="title">Xem thêm</button>
                        </div>
                        <!-- /section title -->
                        
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <!-- row -->
                                <div class="row">
                                    {{#each this.post0}}
                                    <!-- Column 1 -->
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="/post/{{postid}}">
                                                    <img src="/img/{{category}}/{{postid}}/{{postid}}-small.jpg" alt="">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-file-text"></i></li>
                                                </ul>
                                            </div>
                                             <div class="article-body">
                                                <h4 class="article-title"><a href="/post/{{postid}}">{{{title}}}</a></h4>
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {{/each}}
                                    <!-- /Column 1 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab1 -->
                        </div>
                        <!-- /tab content -->
                    </div>
                    <!-- /Main Column -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title">
                            <h2 class="title">Đã xuất bản</h2>
                            <button class="title">Xem thêm</button>
                        </div>
                        <!-- /section title -->
                        
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <!-- row -->
                                <div class="row">
                                    {{#each this.post1}}
                                    <!-- Column 1 -->
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="/post/{{postid}}">
                                                    <img src="/img/{{category}}/{{postid}}/{{postid}}-small.jpg" alt="">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-file-text"></i></li>
                                                </ul>
                                            </div>
                                             <div class="article-body">
                                                <h4 class="article-title"><a href="/post/{{postid}}">{{{title}}}</a></h4>
                                            </div>
                                            
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {{/each}}
                                    <!-- /Column 1 -->
                                </div>
                                <!-- /row -->
                            </div>
                           
                        </div>
                        <!-- /tab content -->
                    </div>
                    <!-- /Main Column -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title">
                            <h2 class="title">Bị từ chối</h2>
                            <button class="title">Xem thêm</button>
                        </div>
                        <!-- /section title -->
                        
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <!-- row -->
                                <div class="row">
                                    {{#each this.post2}}
                                    <!-- Column 1 -->
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="/post/{{postid}}">
                                                    <img src="/img/{{category}}/{{postid}}/{{postid}}-small.jpg" alt="">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-edit"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="/post/{{postid}}">{{{title}}}</a></h4>
                                                
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {{/each}}
                                    <!-- /Column 1 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab1 -->
                        </div>
                        <!-- /tab content -->
                    </div>
                    <!-- /Main Column -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- Main Column -->
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title">
                            <h2 class="title">Chưa được duyệt</h2>
                            <button class="title">Xem thêm</button>
                        </div>
                        <!-- /section title -->
                        
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <!-- row -->
                                <div class="row">
                                    {{#each this.post3}}
                                    <!-- Column 1 -->
                                    <div class="col-md-3 col-sm-6">
                                        <!-- ARTICLE -->
                                        <article class="article">
                                            <div class="article-img">
                                                <a href="/post/{{postid}}">
                                                    <img src="/img/{{category}}/{{postid}}/{{postid}}-small.jpg" alt="">
                                                </a>
                                                <ul class="article-info">
                                                    <li class="article-type"><i class="fa fa-edit"></i></li>
                                                </ul>
                                            </div>
                                            <div class="article-body">
                                                <h4 class="article-title"><a href="/post/{{postid}}">{{{title}}}</a></h4>
                                                
                                            </div>
                                        </article>
                                        <!-- /ARTICLE -->
                                    </div>
                                    {{/each}}
                                    <!-- /Column 1 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab1 -->
                        </div>
                        <!-- /tab content -->
                    </div>
                    <!-- /Main Column -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /SECTION -->