{{#section 'css'}}
<style>
	h1 {
		font-size: 1em;
	}

	.post {
		display: flex;
		flex-wrap: wrap;
	}

</style>
{{/section}}

{{#section 'js'}}
	var i = 0;
{{/section}}

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">All posts</h2>
					<!-- tab nav -->
					<ul class="tab-nav pull-right">
						<li class="active"><a data-toggle="tab" href="#all">All</a></li>
						{{#each this.catenames as |item index|}}
						<li><a data-toggle="tab" href="#{{{item}}}">{{{item}}}</a></li>
						{{/each}}
						
					</ul>
					<!-- /tab nav -->
				</div>
				<!-- /section title -->

				<!-- Tab content -->
				<div class="tab-content">
					<!-- tab1 -->
					{{#each this.categories}}
					<div id="{{names}}" class="tab-pane fade in active post">
						<!-- row -->
						<div class="row post">
							{{#each posts}}
							<!-- Column 1 -->
								<div class="col-md-3 col-sm-6">
								<!-- ARTICLE -->
								<article class="article">
									<div class="article-img">
										<a href="/post/{{postid}}">
											<img src="/img/{{category}}/{{postid}}/{{postid}}-small.jpg" alt="">
										</a>
										<ul class="article-info">
											<li class="article-type"><i class="fa fa-camera"></i></li>
										</ul>
									</div>
									<div class="article-body">
										<h4 class="article-title"><a href="/post/{{postid}}">{{{title}}}</a></h4>
										<ul class="article-meta">
											<li><i class="fa fa-clock-o"></i> {{date}} </li>
											<li><i class="fa fa-comments"></i> 33</li>
										</ul>
									</div>
								</article>
								<!-- /ARTICLE -->
							</div>
							<!-- /Column 1 -->
							{{/each}}
							<!-- /row -->
						</div>
					</div>
					{{/each}}
					<!-- /tab1 -->
				</div>
				<!-- /tab content -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->